@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f7bacf;
  --background-light: #FAF9F6;
  --background-dark: #211116;
  --ivory: #FAF9F6;
  --blush: #F1D4D4;
  --champagne: #F7E7CE;
  --gold: #A98F64;
  --charcoal: #333333;
  --login-primary: #f7bbd0;
  --login-light: #f8f6f6;
  --login-dark: #f8f6f6;
  --demo-primary: #D1A6A6;
  --demo-secondary: #C0B283;
  --demo-background-light: #FDFCFB;
  --demo-background-dark: #2a2829;
  --demo-text-light: #414042;
  --demo-text-dark: #FDFCFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-ivory: var(--ivory);
  --color-blush: var(--blush);
  --color-champagne: var(--champagne);
  --color-gold: var(--gold);
  --color-charcoal: var(--charcoal);
  --color-login-primary: var(--login-primary);
  --color-login-light: var(--login-light);
  --color-login-dark: var(--login-dark);
  --color-demo-primary: var(--demo-primary);
  --color-demo-secondary: var(--demo-secondary);
  --color-demo-background-light: var(--demo-background-light);
  --color-demo-background-dark: var(--demo-background-dark);
  --color-demo-text-light: var(--demo-text-light);
  --color-demo-text-dark: var(--demo-text-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--ivory);
  color: var(--charcoal);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-poppins), sans-serif;
}
